.not_auth {
    width: 600px;
    margin: 0 auto;
}
.image {
    width: 250px;
    height: 250px;
}

.card-text {
    height: 120px;
}

.blockArtist {
    margin-top: 10px;
}
.userAvatar {
    width: 30px;
    border-radius: 50%;
    margin: 0 10px;
}